.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 100px 156px;
}

.gallery li {
    flex-basis: calc((100% - 2 * 24px) / 3);
    box-sizing: border-box;
}